<div class="cart__page">
    <div class="cart__content">
        <div class="cart__header">
            <h1 class="cart__title has-dash">{{ page.name }}</h1>
        </div>

        {% if cart.items != blank %}

        <form method="post" action="/cart" id="cart-form" class="cart-form">
            <ul class="cart__items">
                {% for item in cart.items %}
                <li class="cart__item" data-item-id="{{ item.id }}">
                    <!-- style="background-image:url('{{ item.product.image | product_image_url | constrain: 576, 576 }}');" -->
                    <a class="cart__item--image" href="{{ item.product.url }}" title="View {{ item.product.name | escape }}">
                        <img src="{{ item.product.image | product_image_url | constrain: 576, 576 }}" />
                    </a>
                    <div class="cart__item--details">
                        <div class="cart__item--details-name">{{ item.product.name }}</div>
                        <div class="cart__item--details-price">{{ item.unit_price | money: theme.money_format }}</div>
                        {% unless item.product.has_default_option %}
                        <div class="cart__item--details-option">{{ item.option.name }}</div>
                        {% endunless %}
                        <div class="cart__item--adjustments">
                            <div class="cart__item--quantity-holder" data-item-id="{{ item.id }}">
                                {{ item | item_quantity_input, 'option-quantity', 'option-quantity' }}
                            </div>
                            <a class="cart__item--remove cart-item-remove" title="Remove item" href="#"><svg class="cart-remove-icon" width="11" height="11" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd"><path d="M10.11 1.596l-8.484 8.485-.707-.707L9.404.89z" /><path d="M1.626.89l8.485 8.484-.707.707L.919 1.596z" /></g></svg></a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="cart__footer">
                <div class="cart__totals">
                    <div class="cart__summary">
                        Items <span class="cart__subtotal--amount">{{ cart.subtotal | money: theme.money_format }}</span>
                    </div>
                    <div class="cart__subtotal cart__total">
                        Subtotal <span class="cart__subtotal--amount">{{ cart.total | money: theme.money_format }}</span>
                    </div>
                </div>
                <button type="submit" name="checkout" title="Checkout" class="button positive large checkout-btn">Checkout</button>
                <div>
                    <p>Not done yet?</p>
                    <a class="button flat positive continue-shopping" href="/products" title="Continue shopping">Continue Shopping</a>
                </div>
            </div>
        </form>
    </div>

    {% else %}
    <div class="cart__content">
        <p class="cart--empty-message">
            Uhh, looks like either you haven't added anything to your cart or someone has run off with it!<br />
            Head back to the products page to shop!
        </p>
        <a class="button positive large" href="/products" title="Start shopping">Go shopping!</a>
    </div>
    {% endif %}
</div>