{% if theme.image_sets.slideshow.size > 0 %}
<div class="flexslider home-slideshow">
    <ul class="slides">
        {% for image in theme.image_sets.slideshow %}
        <li><img alt="Slideshow image" src="{{ image.url | constrain: 1800 }}"></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if theme.featured_items > 0 %}
  {% get products from products.all limit:theme.featured_items order:theme.featured_order %}
    {% if products != blank %}
<div class="feature__list--wrapper">
    <div class="feature__list">
        {% for product in products %}
        {% assign product_status = '' %}
        {% case product.status %}
        {% when 'active' %}
        {% if product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
        {% when 'sold-out' %}
        {% assign product_status = 'Sold out' %}
        {% when 'coming-soon' %}
        {% assign product_status = 'Coming soon' %}
        {% endcase %}
        <a class="feature__item {{ theme.show_overlay }}" href="{{ product.url }}" title="View {{ product.name | escape }}">
            <!--<div class="feature__item--image"> class="product-list-item-container" -->
            <figure class="feature__item--image"> <!-- product-list-image-container -->
                <img alt="Image of {{ product.name | escape }}" class="fade-in {% if product.image.height > product.image.width %}image-tall{% elsif product.image.height < product.image.width %}image-wide{% else %}image-square{% endif %}" src="{{ product.image | product_image_url | constrain: 1000, 1000 }}">
            </figure>
            <!--</div>-->
            <div class="feature__item--info">
                <!-- product-list-item-info -->
                <!--<div class="product-list-item-background"></div>-->
                <div class="feature__item--headers"> <!-- product-list-item-info-headers -->
                    {% if product_status != blank %}<div class="feature__item--status">{{ product_status }}</div>{% endif %} <!-- product-list-item-status -->
                    <h3 class="feature__item--name">{{ product.name }}</h3> <!-- product-list-item-name -->
                    <div class="feature__item--price">{{ product.default_price | money: theme.money_format }}</div> <!-- product-list-item-price -->
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="empty-products centered-message">No products found.</div>
{% endif %}
{% endget %}
{% endif %}
