<!DOCTYPE html>
<html>
<head>
    <title>{{ page.name }} | {{ store.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">
    <!--<link href="https://forthe.run/assets/css/styles.css" media="screen" rel="stylesheet" type="text/css" />-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900|Roboto:400,900&display=swap|Titillium+Web:700,900&display=swap" rel="stylesheet">
    {{ head_content }}
</head>

<body id="{{ page.permalink }}_page" class="{{ page.category }}">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=1504448526533606&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    {% if theme.announcement_message_text != blank %}
    <div class="announcement-message">
        <div class="announcement-message-text">{{ theme.announcement_message_text }}</div>
        <div class="announcement-message-close" title="Close announcement message">
            <svg width="11" height="11" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd"><path d="M10.11 1.596l-8.484 8.485-.707-.707L9.404.89z" /><path d="M1.626.89l8.485 8.484-.707.707L.919 1.596z" /></g></svg>
        </div>
    </div>
    {% endif %}
    <!---->
    <div class="site__container">
        <div class="project">
            <!---->
            <header class="header">
                <nav class="navigation">
                    <div class="header__title">
                        <a class="header__link" href="/">
                            <!--
                    <svg class="ftr__logo" id="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                        <g id="For">
                            <path class="ftr__logo--f" id="F" d="M4.9 1.5c0-.3.3-.6.6-.6h14.1c.4 0 .6.3.6.6v3.7c0 .3-.3.6-.6.6h-9.5v4.9H18c.3 0 .6.3.6.6V15c0 .3-.3.6-.6.6h-7.8v8.3c0 .3-.3.6-.6.6h-4c-.4 0-.6-.3-.6-.6V1.5z" />
                            <path class="ftr__logo--o" id="Heart" d="M33.7 17l3.2-3.2c.4-.4.7-1 .7-1.6 0-1.3-1-2.3-2.3-2.3-.6 0-1.2.3-1.6.7-.4-.4-1-.7-1.6-.7-1.3 0-2.3 1-2.3 2.3 0 .6.3 1.2.7 1.6l3.2 3.2z" />
                            <path class="ftr__logo--heart" id="O" d="M33.7.5C40.5.5 46 6 46 12.8S40.5 25 33.7 25s-12.3-5.4-12.3-12.3S26.9.5 33.7.5zm0 19.1c3.8 0 6.8-3.1 6.8-6.8 0-3.8-3.1-6.9-6.8-6.9-3.7 0-6.8 3.1-6.8 6.9 0 3.7 3.1 6.8 6.8 6.8z" />
                            <path class="ftr__logo--r" id="R" d="M48.8 1.5c0-.3.3-.6.6-.6h10.2C63.7.9 67 4.2 67 8.3c0 3.1-2.1 5.7-5.1 6.9l4.7 8.7c.2.4 0 1-.6 1h-4.5c-.3 0-.5-.2-.5-.3l-4.5-9h-2.4v8.7c0 .3-.3.6-.6.6h-4.1c-.4 0-.6-.3-.6-.6V1.5zM59.2 11c1.4 0 2.6-1.3 2.6-2.7s-1.2-2.6-2.6-2.6h-5.1V11h5.1z" />
                        </g>
                        <path class="ftr__logo--the" d="M56.9 28.4H15.1l7.6 7.6-7.6 7.6H57L49.3 36l7.6-7.6zm-25.3 5.2c0 .1-.1.2-.2.2h-1.6v5.8c0 .1-.1.2-.2.2h-1.3c-.1 0-.2-.1-.2-.2v-5.8h-1.6c-.1 0-.2-.1-.2-.2v-1.2c0-.1.1-.2.2-.2h4.8c.1 0 .2.1.2.2v1.2zm7.8 6c0 .1-.1.2-.2.2h-1.3c-.1 0-.2-.1-.2-.2v-2.9h-3.1v2.9c0 .1-.1.2-.2.2h-1.3c-.1 0-.2-.1-.2-.2v-7.2c0-.1.1-.2.2-.2h1.3c.1 0 .2.1.2.2v2.7h3.1v-2.7c0-.1.1-.2.2-.2h1.3c.1 0 .2.1.2.2v7.2zm6.2-6c0 .1-.1.2-.2.2h-3v1.3h2.5c.1 0 .2.1.2.2v1.2c0 .1-.1.2-.2.2h-2.5v1.5h3c.1 0 .2.1.2.2v1.2c0 .1-.1.2-.2.2h-4.5c-.1 0-.2-.1-.2-.2v-7.2c0-.1.1-.2.2-.2h4.5c.1 0 .2.1.2.2v1.2z" />
                        <g id="Run">
                            <path class="ftr__logo--r1" id="R_1_" d="M4.2 48c0-.3.3-.6.6-.6H15c4.1 0 7.4 3.3 7.4 7.4 0 3.1-2.1 5.7-5.1 6.9l4.7 8.7c.2.4 0 1-.6 1H17c-.3 0-.5-.2-.5-.3l-4.5-9H9.5v8.7c0 .3-.3.6-.6.6H4.8c-.4 0-.6-.3-.6-.6V48zm10.4 9.5c1.4 0 2.6-1.3 2.6-2.7 0-1.4-1.2-2.6-2.6-2.6H9.5v5.3h5.1z" />
                            <path class="ftr__logo--u" id="U" d="M25 48c0-.3.3-.6.6-.6h4.2c.4 0 .6.3.6.6v13.8c0 2.4 1.8 4.3 4.2 4.3 2.5 0 4.3-1.9 4.3-4.3V48c0-.3.3-.6.6-.6h4.2c.3 0 .6.3.6.6v14.1c0 5.2-4.4 9.5-9.8 9.5s-9.7-4.3-9.7-9.5V48z" />
                            <path class="ftr__logo--n" id="N" d="M47.3 47.6c0-.3.3-.6.6-.6h.9l13.6 13.1V48c0-.3.3-.6.6-.6h4.1c.3 0 .6.3.6.6v23c0 .3-.3.6-.6.6h-.5c-.1 0-.4-.1-.4-.2L52.7 57.9v12.7c0 .3-.3.6-.6.6H48c-.3 0-.6-.3-.6-.6l-.1-23z" />
                        </g>
                    </svg>
                    -->
                            <!---->
                            <svg class="ftr__logo" id="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 21.6">
                                <path class="ftr__logo--f" id="F" d="M2.9 2c0-.3.2-.5.5-.5h11.2c.3 0 .5.2.5.5v3c0 .3-.2.5-.5.5H7.1v3.9h6.2c.3 0 .5.2.5.5v3c0 .3-.2.5-.5.5H7.1V20c0 .3-.2.5-.5.5H3.4c-.3 0-.5-.2-.5-.5V2z" fill="#ffa357" />
                                <path class="ftr__logo--heart" id="Heart" d="M25.8 1.2c5.4 0 9.8 4.4 9.8 9.8s-4.3 9.8-9.8 9.8S16 16.5 16 11s4.4-9.8 9.8-9.8zm0 15.2c3 0 5.4-2.4 5.4-5.4 0-3-2.4-5.5-5.4-5.5-3 0-5.4 2.5-5.4 5.5s2.4 5.4 5.4 5.4z" />
                                <path class="ftr__logo--o" id="O" d="M25.8 14.4l2.5-2.5c.3-.3.5-.8.5-1.3 0-1-.8-1.8-1.8-1.8-.5 0-.9.2-1.3.5-.2-.3-.7-.5-1.2-.5-1 0-1.8.8-1.8 1.8 0 .5.2.9.5 1.3l2.6 2.5z" />
                                <path class="ftr__logo--r" id="R" d="M37.8 2c0-.3.2-.5.5-.5h8.1c3.3 0 5.9 2.6 5.9 5.9 0 2.5-1.7 4.5-4 5.5l3.7 6.9c.2.4 0 .8-.5.8H48c-.2 0-.4-.1-.4-.2L44 13.1h-1.9V20c0 .3-.2.5-.5.5h-3.2c-.3 0-.5-.2-.5-.5V2zm8.3 7.6c1.1 0 2.1-1 2.1-2.2s-1-2.1-2.1-2.1h-4v4.2h4z" fill="#ff57e7" />
                                <path class="ftr__logo--the" d="M88.7 5.4H55.3l6.1 6.1-6.1 6.1h33.3l-6.1-6.1 6.2-6.1zM68.5 9.5c0 .1-.1.2-.2.2h-1.2v4.6c0 .1-.1.2-.2.2h-1c-.1 0-.2-.1-.2-.2V9.7h-1.2c-.1 0-.2-.1-.2-.2v-.9c0-.1.1-.2.2-.2h3.9c.1 0 .2.1.2.2v.9zm6.2 4.8c0 .1-.1.2-.2.2h-1c-.1 0-.2-.1-.2-.2V12h-2.5v2.3c0 .1-.1.2-.2.2h-1c-.1 0-.2-.1-.2-.2V8.6c0-.1.1-.2.2-.2h1c.1 0 .2.1.2.2v2.2h2.5V8.6c0-.1.1-.2.2-.2h1c.1 0 .2.1.2.2v5.7zm5-4.8c0 .1-.1.2-.2.2h-2.4v1.1h2c.1 0 .2.1.2.2v.9c0 .1-.1.2-.2.2h-2v1.2h2.4c.1 0 .2.1.2.2v.9c0 .1-.1.2-.2.2h-3.6c-.1 0-.2-.1-.2-.2V8.6c0-.1.1-.2.2-.2h3.6c.1 0 .2.1.2.2v.9z" />
                                <path class="ftr__logo--r1" id="R_1" d="M91.6 2c0-.3.2-.5.5-.5h8.1c3.3 0 5.9 2.6 5.9 5.9 0 2.5-1.7 4.5-4 5.5l3.7 6.9c.2.4 0 .8-.5.8h-3.6c-.2 0-.4-.1-.4-.2l-3.6-7.2h-1.9V20c0 .3-.2.5-.5.5h-3.2c-.3 0-.5-.2-.5-.5V2zm8.3 7.6c1.1 0 2.1-1 2.1-2.2 0-1.1-1-2.1-2.1-2.1h-4v4.2h4z" fill="#5aadff" />
                                <path class="ftr__logo--u" id="U" d="M108.2 2c0-.3.2-.5.5-.5h3.3c.3 0 .5.2.5.5v11c0 1.9 1.4 3.4 3.3 3.4 2 0 3.4-1.5 3.4-3.4V2c0-.3.2-.5.5-.5h3.3c.3 0 .5.2.5.5v11.2c0 4.1-3.5 7.6-7.8 7.6s-7.7-3.4-7.7-7.6V2z" fill="#57ffc7" />
                                <path class="ftr__logo--n" id="N" d="M125.9 1.7c0-.3.2-.5.5-.5h.7l10.8 10.4V2c0-.3.2-.5.5-.5h3.3c.3 0 .5.2.5.5v18.3c0 .3-.2.5-.5.5h-.4c-.1 0-.3-.1-.4-.1L130.2 9.9V20c0 .3-.2.5-.5.5h-3.2c-.3 0-.5-.2-.5-.5l-.1-18.3z" fill="#dbff57" />
                            </svg>
                        </a>
                    </div>
                    <div class="navigation__left">
                        <ul class="navigation__list">
                            <li{% if page.full_url contains '/products' or page.full_url contains '/product/' or page.full_url contains '/category/' or page.full_url contains '/artist/' %} class="navigation__list-item selected" {% else %} class="navigation__list-item" {% endif %}>
                                <a class="navigation__link" href="/products">{{ pages.products.name }}</a>
                                </li>
                                <!--
                        {% for page in pages.all limit:theme.nav_items %}
                        <li{% if page.full_url contains page.url %} class="navigation__list-item selected" {% else %} class="navigation__list-item" {% endif %}>
                            {{ page | link_to }}
                            </li>
                            {% endfor %}-->
                                <li{% if page.full_url contains '/mission' or page.full_url contains '/mission/' %} class="navigation__list-item selected" {% else %} class="navigation__list-item" {% endif %}>
                                    <a class="navigation__link" href="/mission">Mission</a>
                                    </li>
                                    <li{% if page.full_url contains '/contact' %} class="navigation__list-item selected" {% else %} class="navigation__list-item" {% endif %}>
                                        <a class="navigation__link" href="/contact">Contact</a>
                                        </li>
                        </ul>
                    </div>
                    <div class="navigation__right">
                        <ul class="navigation__list">
                            <li{% if page.full_url contains '/cart' %} class="navigation__list-item selected" {% else %} class="navigation__list-item" {% endif %}>
                                <a class="navigation__link" href="/cart">Cart {% if cart.item_count > 0 %}<span class="navigation__cart--total">({{ cart.item_count }})</span>{% endif %}</a>
                                </li>
                        </ul>
                    </div>
                </nav>

                <!--<div class="branding">
            <a href="/" title="Home">
                {% if theme.images.header != blank %}
                <img class="store-logo" src="{{ theme.images.header.url | constrain: 1800, 500 }}" alt="{{ store.name }}">
                {% else %}
                <div class="store-header">{{ store.name }}</div>
                {% endif %}
            </a>
        </div>-->
                <!--<nav class="header-nav mobile-nav">
            <ul>
                <li{% if page.full_url contains '/products' or page.full_url contains '/product/' or page.full_url contains '/category/' or page.full_url contains '/artist/' %} class="selected" {% endif %}>
                    <a href="/products">{{ pages.products.name }}</a></li>
                    <li{% if page.full_url contains '/cart' %} class="selected" {% endif %}>
                        <a href="/cart">Cart</a></li>
                        <li class="more-link"><a href="#footer" title="See more">More</a></li>
            </ul>
        </nav>-->
            </header>
            <!-- What is this? -->
            <main class="main">
                <div class="fade-in">
                    {% if errors != blank %}
                    <ul class="errors {{ page.permalink }}-errors">
                        {% for error in errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if page.category == 'custom' %}
                    <div class="custom-page">
                        <h1 class="custom-page-header page-title has-dash">{{ page.name }}</h1>
                        <div class="custom-page-content">{{ page_content | paragraphs }}</div>
                    </div>
                    {% else %}
                    {{ page_content }}
                    {% endif %}
                </div>
            </main>
            <!--1-->
            {% if page.full_url contains '/product/' %}
            <!--2-->
            {% if theme.show_similar_products %}
            <!--3-->
            {% if product.categories != blank %}
            <!--FOR-->
            {% for category in product.categories %}
            {% capture product_divs %}
            {% for category_product in category.products %}
            {% assign product_status = '' %}
            {% case category_product.status %}
            {% when 'active' %}
            {% if category_product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
            {% when 'sold-out' %}
            {% assign product_status = 'Sold out' %}
            {% when 'coming-soon' %}
            {% assign product_status = 'Coming soon' %}
            {% endcase %}
            <!--4-->
            {% if product.id != category_product.id %}
            <a class="product-list-item {{ theme.show_overlay }}" href="{{ category_product.url }}" title="View {{ category_product.name | escape }}">
                <div class="product-list-item-container">
                    <figure class="product-list-image-container">
                        <img alt="Image of {{ category_product.name | escape }}" class="fade-in product-list-image {% if category_product.image.height > category_product.image.width %}image-tall{% elsif category_product.image.height < category_product.image.width %}image-wide{% else %}image-square{% endif %}" src="{{ category_product.image | product_image_url | constrain: 1000, 1000 }}">
                    </figure>
                </div>
                <div class="product-list-item-info">
                    <div class="product-list-item-background"></div>
                    <div class="product-list-item-info-headers">
                        <div class="product-list-item-name">{{ category_product.name }}</div>
                        {% if product_status != blank %}<div class="product-list-item-status">{{ product_status }}</div>{% endif %}
                        <div class="product-list-item-price">{{ category_product.default_price | money: theme.money_format }}</div>
                    </div>
                </div>
            </a>
            <!--4-->
            {% endif %}
            <!--END FOR-->
            {% endfor %}
            {% endcapture %}
            {% endfor %}
            <!--3-->
            {% endif %}
            <!--2-->
            {% endif %}
                <div class="similar__products--wrapper">
                    {% if product_divs != blank %}
                    <div class="all-similar-products">{{ product_divs }}</div>
                    <div class="similar__products">
                        <div class="similar__products--header">
                            <div class="similar__products--title">Check these out</div>
                        </div>
                        <!-- Needs "similar-product-list -->
                        <div class="product-list similar-product-list similar__product--list"></div>
                    </div>
                    {% endif %}
                </div>
                {% for category in product.categories %}
                    {% if category.name contains 'Pre-Order' %}
                        <script>
                            var preorderCount = "{{ categories.pre-order.products | size }}";
                            console.log(preorderCount);
                            if (preorderCount < 2) {
                                console.log("Hello");
                                document.getElementsByClassName('similar__products--wrapper')[0].setAttribute("style", "display:none;")
                            }
                        </script>
                    {% endif %}
                    {% if category.name contains 'Tanks' %}
                        <script>
                            var tanksCount = "{{ categories.tanks.products | size }}";
                            console.log(tanksCount);
                            if (tanksCount < 2) {
                                document.getElementsByClassName('similar__products--wrapper')[0].setAttribute("style", "display:none;")
                            }
                        </script>
                    {% endif %}
                    {% if category.name contains 'Shirts' %}
                        <script>
                            var shirtCount = "{{ categories.shirts.products | size }}";
                            console.log(shirtCount);
                            if (shirtCount < 2) {
                                document.getElementsByClassName('similar__products--wrapper')[0].setAttribute("style", "display:none;")
                            }
                        </script>
                    {% endif %}
                    {% if category.name contains 'Stickers' %}
                        <script>
                            var stickerCount = "{{ categories.stickers.products | size }}";
                            console.log(stickerCount);
                            if (stickerCount < 2) {
                                document.getElementsByClassName('similar__products--wrapper')[0].setAttribute("style", "display:none;")
                            }
                        </script>
                    {% endif %}
                {% endfor %}
            <!--1-->
            {% endif %}
        </div>
        <!---->
        <footer class="module__footer">
            <div class="footer__content">
                <nav class="footer-nav" id="footer">
                    <ul class="footer__navigation">
                        <li class="footer__navigation--list-item">
                            <a class="footer__navigation--link brand" title="Back to For The Run home page" href="/">
                                <svg class="ftr__logo" alt="For The Run Logo" id="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 21.6">
                                    <path class="ftr__logo--f" id="footer-F" d="M2.9 2c0-.3.2-.5.5-.5h11.2c.3 0 .5.2.5.5v3c0 .3-.2.5-.5.5H7.1v3.9h6.2c.3 0 .5.2.5.5v3c0 .3-.2.5-.5.5H7.1V20c0 .3-.2.5-.5.5H3.4c-.3 0-.5-.2-.5-.5V2z" fill="#ffa357" />
                                    <path class="ftr__logo--heart" id="footer-Heart" d="M25.8 1.2c5.4 0 9.8 4.4 9.8 9.8s-4.3 9.8-9.8 9.8S16 16.5 16 11s4.4-9.8 9.8-9.8zm0 15.2c3 0 5.4-2.4 5.4-5.4 0-3-2.4-5.5-5.4-5.5-3 0-5.4 2.5-5.4 5.5s2.4 5.4 5.4 5.4z" />
                                    <path class="ftr__logo--o" id="footer-O" d="M25.8 14.4l2.5-2.5c.3-.3.5-.8.5-1.3 0-1-.8-1.8-1.8-1.8-.5 0-.9.2-1.3.5-.2-.3-.7-.5-1.2-.5-1 0-1.8.8-1.8 1.8 0 .5.2.9.5 1.3l2.6 2.5z" />
                                    <path class="ftr__logo--r" id="footer-R" d="M37.8 2c0-.3.2-.5.5-.5h8.1c3.3 0 5.9 2.6 5.9 5.9 0 2.5-1.7 4.5-4 5.5l3.7 6.9c.2.4 0 .8-.5.8H48c-.2 0-.4-.1-.4-.2L44 13.1h-1.9V20c0 .3-.2.5-.5.5h-3.2c-.3 0-.5-.2-.5-.5V2zm8.3 7.6c1.1 0 2.1-1 2.1-2.2s-1-2.1-2.1-2.1h-4v4.2h4z" fill="#ff57e7" />
                                    <path class="ftr__logo--the" d="M88.7 5.4H55.3l6.1 6.1-6.1 6.1h33.3l-6.1-6.1 6.2-6.1zM68.5 9.5c0 .1-.1.2-.2.2h-1.2v4.6c0 .1-.1.2-.2.2h-1c-.1 0-.2-.1-.2-.2V9.7h-1.2c-.1 0-.2-.1-.2-.2v-.9c0-.1.1-.2.2-.2h3.9c.1 0 .2.1.2.2v.9zm6.2 4.8c0 .1-.1.2-.2.2h-1c-.1 0-.2-.1-.2-.2V12h-2.5v2.3c0 .1-.1.2-.2.2h-1c-.1 0-.2-.1-.2-.2V8.6c0-.1.1-.2.2-.2h1c.1 0 .2.1.2.2v2.2h2.5V8.6c0-.1.1-.2.2-.2h1c.1 0 .2.1.2.2v5.7zm5-4.8c0 .1-.1.2-.2.2h-2.4v1.1h2c.1 0 .2.1.2.2v.9c0 .1-.1.2-.2.2h-2v1.2h2.4c.1 0 .2.1.2.2v.9c0 .1-.1.2-.2.2h-3.6c-.1 0-.2-.1-.2-.2V8.6c0-.1.1-.2.2-.2h3.6c.1 0 .2.1.2.2v.9z" />
                                    <path class="ftr__logo--r1" id="footer-R_1" d="M91.6 2c0-.3.2-.5.5-.5h8.1c3.3 0 5.9 2.6 5.9 5.9 0 2.5-1.7 4.5-4 5.5l3.7 6.9c.2.4 0 .8-.5.8h-3.6c-.2 0-.4-.1-.4-.2l-3.6-7.2h-1.9V20c0 .3-.2.5-.5.5h-3.2c-.3 0-.5-.2-.5-.5V2zm8.3 7.6c1.1 0 2.1-1 2.1-2.2 0-1.1-1-2.1-2.1-2.1h-4v4.2h4z" fill="#5aadff" />
                                    <path class="ftr__logo--u" id="footer-U" d="M108.2 2c0-.3.2-.5.5-.5h3.3c.3 0 .5.2.5.5v11c0 1.9 1.4 3.4 3.3 3.4 2 0 3.4-1.5 3.4-3.4V2c0-.3.2-.5.5-.5h3.3c.3 0 .5.2.5.5v11.2c0 4.1-3.5 7.6-7.8 7.6s-7.7-3.4-7.7-7.6V2z" fill="#57ffc7" />
                                    <path class="ftr__logo--n" id="footer-N" d="M125.9 1.7c0-.3.2-.5.5-.5h.7l10.8 10.4V2c0-.3.2-.5.5-.5h3.3c.3 0 .5.2.5.5v18.3c0 .3-.2.5-.5.5h-.4c-.1 0-.3-.1-.4-.1L130.2 9.9V20c0 .3-.2.5-.5.5h-3.2c-.3 0-.5-.2-.5-.5l-.1-18.3z" fill="#dbff57" />
                                </svg>
                            </a>
                        </li>
                        <li class="footer__navigation--list-item"><a class="footer__navigation--link" title="Products page" href="/products">{{ pages.products.name }}</a></li>
                        <li class="footer__navigation--list-item"><a class="footer__navigation--link" title="Contact page" href="/contact">Contact</a></li>
                        <li class="footer__navigation--list-item"><a class="footer__navigation--link" title="View your cart" href="/cart">Cart {% if cart.item_count > 0 %}<span class="footer__navigation--total">({{ cart.item_count }})</span>{% endif %}</a></li>
                        {% for page in pages.all %}
                        <li class="footer__navigation--list-item">{{ page | link_to }}</li>
                        {% endfor %}
                        {% if theme.show_search %}
                        <li class="">
                            <a class="open-search" href="#" title="Open search">Search</a>
                            <form class="search-form" name="search" action="/products" method="get" accept-charset="utf8">
                                <input type="hidden" name="utf8" value='✓'>
                                <input class="search-input" name="search" placeholder="Search..." type="text" autocomplete="off" />
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                    <!--{% if store.website != blank %}
                        <a href="{{ store.website }}" class="button back-to-site">Back to site</a>
                    {% endif %}-->
                </nav>
                {% if theme.twitter_url != blank or theme.facebook_url != blank or theme.instagram_url != blank or theme.tumblr_url != blank or theme.pinterest_url != blank %}
                <ul class="social--links">
                    {% if theme.instagram_url != blank %}
                    <li>
                        <a class="social--link" target="_blank" title="Instagram" href="{{ theme.instagram_url }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 90 612 612" focusable="false"><path d="M540.273 90H71.727C32.19 90 0 122.19 0 161.727v468.67C0 669.81 32.19 702 71.727 702h468.67c39.535 0 71.726-32.19 71.726-71.727V161.727C612 122.313 579.687 90 540.273 90zM306 280.332c63.893 0 115.668 51.775 115.668 115.668S369.893 511.668 306 511.668 190.332 459.893 190.332 396 242.107 280.332 306 280.332zM542.232 608.12c0 13.096-10.77 23.867-23.868 23.867H92.412c-13.097 0-23.868-10.77-23.868-23.868V348.51h56.304c-3.917 15.177-6.12 31.21-6.12 47.49 0 103.55 83.966 187.272 187.272 187.272S493.272 499.552 493.272 396c0-16.524-2.204-32.313-6.12-47.49h55.08v259.61zm0-353.002c0 13.097-10.77 23.868-23.868 23.868h-69.77c-13.096 0-23.867-10.77-23.867-23.868V185.35c0-13.097 10.77-23.868 23.868-23.868h69.77c13.096 0 23.867 10.77 23.867 23.868v69.768z" /></svg>
                            <span>Instagram</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if theme.twitter_url != blank %}
                    <li>
                        <a class="social--link" target="_blank" title="Twitter" href="{{ theme.twitter_url }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 150.857 612 490.298" focusable="false"><path d="M606 209c-22.2 9.7-46 16.4-70.8 19.4 25.4-15.3 45-39.6 54-68.5-23.7 14-50 24-78 30-22.5-24-54.4-39-89.8-39-68 0-123 55-123 123 0 9.3 1 19 3 28-102.2-5-192.8-54-253.4-129-11 18.3-17 39.5-17 62.2 0 43 21.5 81 54.6 103-20.2-.6-39.2-6-55.8-15.4v2c0 60 42.3 110 98.6 121.2-10.4 3-21.3 4.6-32.5 4.6-8 0-16-1-23-2.5 15 49.3 61 85 115 86-42 33.3-96 53-153 53-10 0-20-.5-30-1.7 55 35 119.5 55.5 189 55.5 226.3 0 350-188.5 350-352 0-5.5 0-10.8-.3-16 24-17.6 45-39.4 61.4-64z" /></svg>
                            <span>Twitter</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if theme.facebook_url != blank %}
                    <li>
                        <a class="social--link" target="_blank" title="Facebook" href="{{ theme.facebook_url }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="157.162 90 297.799 612" focusable="false"><path d="M369.036 193.795h85.68V90H333.662c-97.553 19.707-98.776 108.936-98.776 108.936V304.69h-77.724v102.937h77.724V702H343.21V407.383h102.08l9.67-102.938H343.945v-75.52c-.123-33.172 25.092-35.13 25.092-35.13z" /></svg>
                            <span>Facebook</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if theme.tumblr_url != blank %}
                    <li>
                        <a class="social--link" target="_blank" title="Tumblr" href="{{ theme.tumblr_url }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="117.504 90 377.114 611.937" focusable="false"><path d="M493.272 571.276c-14.566 13.832-55.692 26.194-55.692 26.194-115.18 27.907-107.957-66.464-107.957-66.464v-189.72h144.31v-96.818h-144.31V90H241.74c-11.383 139.658-124.236 164.628-124.236 164.628v87.394h67.81v224.604c-.98 62.424 36.475 92.656 36.475 92.656 115.055 89.964 272.83 9.67 272.83 9.67v-99.02l-1.348 1.344z" /></svg>
                            <span>Tumblr</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if theme.pinterest_url != blank %}
                    <li>
                        <a class="social--link" target="_blank" title="Pinterest" href="{{ theme.pinterest_url }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 12 16" focusable="false"><path d="M4.933 10.582c-.406 2.203-.9 4.314-2.366 5.418-.452-3.33.665-5.83 1.183-8.484C2.866 6 3.9 2.9 5.7 3.63c2.315.97-2 5.77.9 6.34 3 .6 4.225-5.4 2.365-7.36C6.285-.22 1.1 2.5 1.8 6.596c.154 1 1.1 1.3.4 2.658C.48 8.858-.034 7.45.032 5.574.138 2.504 2.692.352 5.255.054c3.24-.376 6.3 1.2 6.7 4.396.473 3.568-1.462 7.433-4.927 7.2C6.063 11.5 5.7 11 4.9 10.582z" /></svg>
                            <span>Pinterest</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
                <div class="footer__credit">
                    <div class="credit__badge">{{ bigcartel_credit }}</div>
                </div>
            </div>
            <!-- -->
        </footer>
        <!---->
    </div>
    <!---->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="//cdn.jsdelivr.net/gh/jquery/jquery@3/dist/jquery.min.js"></script>
    <!--<link href="https://cdn.jsdelivr.net/gh/sk5/sk5.github.io@v1.0/assets/css/styles.css" rel="stylesheet" type="text/css" />-->
    <script src="//cdn.jsdelivr.net/gh/sk5/sk5.github.io@v1.2/assets/scripts/product-slideshow.js"></script>
    <!--<script>
        window.onload = function () {
            // Auto increment main images
            var list = document.getElementsByClassName("product__slide");
            for (var i = 0; i < list.length; i++) {
                list[i].setAttribute("data-slide", "image-" + i);
            }
            //
            // Auto increment thumbnails
            var thumbnailList = document.getElementsByClassName("product__thumbnail--link");
            for (var j = 0; j < thumbnailList.length; j++) {
                thumbnailList[j].setAttribute("data-thumb", + j);
            }
        };

        //document.getElementsByClassName("product__thumbnail--link").click(
        //this.className += " active";
        //alert("Clicked");
        //);

        //function changeProductImage() {
        //console.log("Hello");
        ////var slides = document.getElementsByClassName("product__slide");
        //console.log(slides.length);
        ////var currentButton = this.getAttribute("data-thumb");
        ////console.log(currentButton);
        ////slides.forEach(function (el) {
        ////el.classList.add("hidden")
        ////});
        //
        //console.log(slides.length);
        //---for (var i = 0; i < slides.length; i++) {
        //---var slide = slides[i];
        //---slide.classList.remove("active");
        //---}
        //
        //
        // New way???
        var buttons = document.getElementsByClassName("product__thumbnail--link"); // target all buttons into a element array/collection
        var buttonsCount = buttons.length; // cache the length
        for (var h = 0; h < buttonsCount; h++) { // reset the counter; check if its smaller than the array length; add itself
            //console.log("before button");
            buttons[h].onclick = function (e) { // assign a function to the onclick event
                //console.log("here");
                var imageName = this.getAttribute("data-thumb"); // alert the id attribute of the element clicked
                var currentButton = document.querySelector("[data-thumb='" + imageName + "']");
                //var element = document.querySelector("[data-slide='image-" + imageName "']");
                var element = document.querySelector("[data-slide='image-" + imageName + "']");
                //console.log(element);
                console.log(currentButton);
                //
                var buttons = document.getElementsByClassName("product__thumbnail--link");
                for (var j = 0; j < buttons.length; j++) {
                    var button = buttons[j];
                    button.classList.remove("active");
                }
                //
                currentButton.className += (" active");
                //
                var slides = document.getElementsByClassName("product__slide");
                for (var i = 0; i < slides.length; i++) {
                    var slide = slides[i];
                    slide.classList.remove("active");
                }
                //
                element.classList.add("active");
            };
        }
                //
                // -- Old way that worked but not dynamically
                // -- var element = document.querySelector("[data-slide='image-1'");
                // -- console.log(element.length);
                // -- element.classList.add("active");
                //slides.classList.add("hidden");
                //this.className += " active";
                //console.log("Still here");
            //}


            //function show(nr) {
                //document.getElementById("table1").style.display = "none";
                //document.getElementById("table2").style.display = "none";
                //document.getElementById("table3").style.display = "none";
                //document.getElementById("table4").style.display = "none";
                //document.getElementById("table" + nr).style.display = "block";
                //
                //var slides = document.getElementsByClassName("product__slide");
                //slides.className += "hidden";
                //slides.classList.add("hidden");
                //-document.querySelectorAll("[data-slide='image'" + nr).className.remove("hidden");
                //
                //-var thumbnails = document.getElementsByClassName("product__thumbnail--link");
                //-thumbnails.className.remove("active");
                //var currentSlide = slides.getAttribute('data-fruit');
                //-this.className += "active";
            //}
    </script>-->
    <script src="{{ 'api' | theme_js_url }}"></script>
    <script src="{{ theme | theme_js_url }}"></script>
</body>
</html>