// Base elements
// ------------------------------------------------------------

body {
    margin: 0;
    padding: 0;
    color: #fefefe;
    background: $white;
}

.site__container {
    overflow: hidden;
}
