// Button styles
// ------------------------------------------------------------


.button {
    padding: 1rem 1.5rem;
    font-family: $thick-text;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    //
    &.large {
        padding: 2rem 1.5rem;
        font-size: 1.25rem;
    }
    //
    &.positive {
        color: $green;
    }
}