// Header elements
// ------------------------------------------------------------

// Logo
.ftr__logo {
    fill: $white;
    //
    &--f {
        fill: $orange;
    }
    //
    &--o,
    &--heart {
        fill: $red;
    }
    //
    &--r {
        fill: $purple;
    }
    //
    &--the {
        fill: $black;
    }
    //
    &--r1 {
        fill: $blue;
    }
    //
    &--u {
        fill: $green;
    }
    //
    &--n {
        fill: $yellow;
    }
}
//
//
//
.header {
    // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
    // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
    @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    //
    position: relative;
    padding: 0;
    background: $white;
    //background: linear-gradient(-45deg, lighten($black, 5%) 0%, darken($black, 10%) 100%);
    //width: 30vw;
    //box-shadow: -1rem 1rem 2rem rgba(black, .2);
    //
    &:before {
        content: "";
        position: absolute; 
        top: 0;
        right: 100%;
        bottom: 0;
        width: 50vw;
        background: $white;
    }
    //
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        width: 50vw;
        background: $white;
    }
    //
    &__title {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1 / span 2;
            grid-row: 1;
            //
            @media screen and (min-width: 62.5em) { // 1000px
                grid-column: 2;
                grid-row: 1;
            }
        }
        //
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        //
        @media screen and (min-width: 62.5em) { // 1000px
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }
    //
    &__link {
        //display: inline-block;
        width: calc(100% - 8rem);
        //
        @media screen and (min-width: 38.75em) { // 620px
            width: 20rem;
        }
        //
        @media screen and (min-width: 62.5em) { // 1000px
            width: 100%;
        }
        //
        @media screen and (min-width: 87.5em) { // 1400px
            width: 24rem;
        }
    }
}