// Custom page elements
// ------------------------------------------------------------


.custom {
    &-page {
        position: relative;
        //margin-bottom: 2rem;
        padding-top: 0;
        padding-bottom: 3rem;
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            width: calc(100% + 40vw);
            background: #f9fafb;
            border-top: .0625rem solid darken(#f9fafb, 8%);
        }
        //
        &-header {
            position: relative;
            margin: 0 0 3rem 0;
            padding-top: 2rem;
            padding-bottom: 2rem;
            font-family: $brand-text;
            font-size: 2.5rem;
            font-weight: 900;
            line-height: .875em;
            text-transform: uppercase;
            color: $white;
            //
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                right: -20vw;
                bottom: 0;
                left: -20vw;
                background: $black;
                background-image: url("https://cdn.jsdelivr.net/gh/sk5/sk5.github.io@v1.2/assets/images/polygon-background.svg"), linear-gradient(30deg, $purple 0%, $blue 33%, $green 66%, $yellow 100%);
                background-size: cover;
                box-shadow: 0 0.0625rem 0 #dae1e7;
            }
        }
        //
        &-content {
            min-height: 50vh;
            font-family: $body-text;
            font-size: 1.25rem;
            line-height: 125%;
            color: $black;
        }
        //
        h2,
        h3,
        h4,
        h5 {
            margin: 1em 0 .5em 0;
            font-family: $brand-text;
            font-weight: 900;
            line-height: 1em;
            text-transform: uppercase;
        }
        //
        h2 {
            font-size: 2.25rem;
            color: darken($purple, 30%);
        }
        //
        h3 {
            font-size: 2.125rem;
            color: darken($blue, 30%);
        }
        //
        h4 {
            font-size: 2rem;
            color: darken($purple, 20%);
        }
        //
        h5 {
            font-size: 1.75rem;
            color: darken($blue, 20%);
        }
        //
        p,
        ul,
        li {
            font-size: 1.4125rem;
            line-height: 125%;
        }
        //
    }
}
