// Cart elements
// ------------------------------------------------------------


.cart {
    &__page {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: 50%;
            grid-template-rows: auto; // 25rem;
            grid-gap: 0;
        }

        position: relative;
        //margin-bottom: 2rem;
        padding-bottom: 3rem;
        min-height: 50vh;
        //background: $fafafa;
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            background-image: url("https://cdn.jsdelivr.net/gh/sk5/sk5.github.io@v1.3/assets/images/polygon-background.svg"), linear-gradient(30deg, $yellow 0%, $orange 33%, $red 66%, $purple 100%);
            background-size: cover;
        }
    }
    //
    &__header {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1 / span 2;
            grid-row: 1;
        }
        //
        position: relative;
        //margin-bottom: 3rem;
        padding: 2rem 0;
        //
        /*&:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            background: url("https://cdn.jsdelivr.net/gh/sk5/sk5.github.io@v1.3/assets/images/polygon-background.svg"), linear-gradient(30deg, $yellow 0%, $orange 33%, $red 66%, $purple 100%);
            background-size: cover;
        }*/
    }
    //
    &__title {
        margin: 0;
        font-family: $brand-text;
        font-size: 2.5rem;
        font-weight: 900;
        line-height: .875em;
        text-transform: uppercase;
        color: $white;
    }
    //
    &__content {
        margin-bottom: 3rem;
        padding: 2rem;
        min-height: 40vh;
        background: $white;
        border-radius: .5rem;
        box-shadow: 0 0 0 .0625rem rgba(black, .3);
    }
    //
    &--empty-message {
        font-family: $body-text;
        font-size: 1.25rem;
        line-height: 125%;
        color: $black;
    }
    //
    //
    //
    &__items {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    //
    &__item {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: 8rem auto;
            grid-template-rows: auto; // 25rem;
            grid-gap: 1rem;
        }
        //
        margin-top: .3125rem;
        margin-bottom: .3125rem;
        padding: 1rem;
        border-radius: .25rem;
        box-shadow: 0 0 0 .0625rem rgba(black, .15);
    }
    //
    &__item--image {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1;
            grid-row: 1;
        }
        //
        width: 8rem;
        //
        img {
            width: 100%;
        }
    }
    //
    &__item--details {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 2;
            grid-row: 1;
        }
        //
    }
    //
    &__item--details-name {
        //padding-bottom: .5rem;
        font-family: $brand-text;
        font-size: 1.25rem;
        font-weight: 900;
        color: $black;
    }
    //
    &__item--details-option {
        margin-bottom: 1rem;
        font-family: $brand-text;
        font-size: .875rem;
        font-weight: 700;
        color: $black;
    }
    //
    &__item--details-price {
        font-family: $body-text;
        font-size: 1.5rem;
        line-height: .875em;
        color: $black;
        //
        .currency_sign {
            font-size: 1rem;
        }
    }
    //
    &__item--adjustments {
        padding-top: .5rem;
        //
        .button {
            margin-top: .25rem;
        }
    }
    //
    &__item--quantity-holder {
        display: inline-block;
        vertical-align: top;
        margin-right: 1rem;
        width: 4rem;
        //
        input {
            vertical-align: top;
            padding: .5rem;
            width: 100%;
            font-family: $body-text;
            font-size: 1.25rem;
            color: black;
            border: .0625rem solid darken(#f9fafb, 20%);
            border-radius: .25rem;
        }
    }
    //
    &__footer--label {
    }
    //
    &__totals {
        margin-bottom: 2rem;
    }
    //
    &__summary,
    &__subtotal,
    &__total {
        display: flex;
        justify-content: space-between;
        margin-bottom: .25rem;
        padding: 1rem;
        font-family: $brand-text;
        font-size: 1rem;
        font-weight: 900;
        color: lighten($black, 10%);
        box-shadow: 0 .0625rem 0 rgba(black, .1);
    }
    //
    &__items--count,
    &__subtotal--amount,
    &__total--amount {
        font-family: $body-text;
        font-size: 1rem;
        color: $black;
        //
        .currency_sign {
            font-size: inherit;
        }
    }
    //
    //
    //
    &__footer {
        margin-top: .125rem;
        padding: 0;
        background: white;
        //box-shadow: 0 0 0 .0625rem darken(#f9fafb, 20%);
    }
    //
    &__keep--shopping {
        margin-top: 2rem;
        padding-top: 2rem;
        box-shadow: 0 -.0625rem 0 darken(#f9fafb, 10%);
        //
        p {
            margin-top: 0;
            padding-left: 1rem;
            font-family: $brand-text;
            font-size: 1.125rem;
            color: $black;
        }
    }
}