// Button styles
// ------------------------------------------------------------


button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: 0;
}

.button {
    transition: background .2s ease;
    display: inline-block;
    vertical-align: top;
    padding: .5rem 1rem;
    font-family: $brand-text;
    font-size: 1rem;
    font-weight: 900;
    line-height: 1em;
    color: white;
    text-shadow: 0 0 .25rem rgba(0,0,0,.4);
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 10rem;
    //
    &.large {
        padding: 1.25rem 2rem;
        font-size: 1.5rem;
        font-weight: 900;
        //letter-spacing: .0625rem;
    }
    //
    &.negative {
        background: darken($red, 10%);
        //
        &:hover {
            background: darken($red, 20%);
        }
    }
    //
    &.positive {
        background: darken($green, 10%);
        //
        &:hover {
            background: darken($green, 20%);
        }
    }
    //
    &.flat {
        color: lighten($black, 20%);
        text-shadow: none;
        background: transparent;
        box-shadow: 0 0 0 .0625rem lighten($black, 20%);
        //
        &.negative {
            color: darken($red, 10%);
            box-shadow: 0 0 0 .0625rem darken($red, 10%);
            //
            &:hover {
                color: $white;
                background: darken($red, 20%);
                box-shadow: 0 0 0 .0625rem darken($red, 20%);
            }
        }
        //
        &.positive {
            color: darken($green, 20%);
            box-shadow: 0 0 0 .0625rem darken($green, 10%);
            //
            &:hover {
                color: $white;
                background: darken($green, 20%);
                box-shadow: 0 0 0 .0625rem darken($green, 20%);
            }
        }
    }
    //
    //
    //
    &.choose--product {
        margin: .3125rem;
        padding: .5rem;
        width: calc(50% - .625rem);
        height: 6rem;
        font-weight: 900;
        color: $black;
        //text-align: center;
        text-shadow: none;
        border-radius: .25rem;
        box-shadow: 0 0 0 .0625rem darken(#f9fafb, 20%);
        //
        @media screen and (min-width: 43.75em) { // 700px
            width: calc(25% - .625rem);
        }
        //
        @media screen and (min-width: 65.625em) { // 1050px
            width: calc(33.333% - .625rem);
        }
        //
        &:hover {
            background: white;
            box-shadow: 0 0 0 .0625rem darken(#f9fafb, 40%);
        }
        //
        &.selected {
            background: white;
            box-shadow: 0 0 0 .125rem darken(#f9fafb, 40%);
        }
    }
}
//
//
// Inner pieces of the buttons for selecting a size/color
.product__size--label {
    transition: box-shadow .2s ease;
    display: block;
    margin: 0 auto .5rem auto;
    padding: .75rem 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    line-height: 1.125em;
    text-align: center;
    color: white;
    background: black; // If no color, default to this
    border-radius: 2rem;
    box-shadow: 0 0 0 0 black;
    //
    .button.choose--product:hover & {
        box-shadow: 0 0 0 .25rem black;
    }
    //
    //
    &.black {
        background: black;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem black;
        }
    }
    //
    &.charcoal {
        background: #424443;
        box-shadow: 0 0 0 0 #424443;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem #424443;
        }
    }
    //
    &.denim {
        background: #404C57;
        box-shadow: 0 0 0 0 #404C57;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem #404C57;
        }
    }
    //
    &.envy {
        background: #60C17E;
        box-shadow: 0 0 0 0 #60C17E;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem #60C17E;
        }
    }
    //
    &.indigo {
        background: #576873;
        box-shadow: 0 0 0 0 #576873;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem #576873;
        }
    }
    //
    &.white {
        color: $black;
        background: #fff;
        box-shadow: 0 0 0 .0625rem $black;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem $black;
        }
    }
    //
    // STICKERS -- MARATHON
    //
    &.angeles {
        color: #fff;
        background: #002859;
        box-shadow: 0 0 0 .0625em #C3D831;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem #C3D831;
        }
    }
    //
    &.austin {
        color: #B4BD00;
        background: #1F1C1D;
        box-shadow: 0 0 0 .0625rem #4D9B44;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem #4D9B44;
        }
    }
    //
    &.boston {
        color: #154DB9;
        background: #F4DD00;
        box-shadow: 0 0 0 0 #F4DD00;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem #F4DD00;
        }
    }
    //
    &.chicago {
        color: #FC3919;
        background: #fff;
        box-shadow: 0 0 0 .0625rem #064ED8;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem #064ED8;
        }
    }
    //
    &.cim {
        color: #F05F32;
        background: #fff;
        box-shadow: 0 0 0 .0625rem #0D4F67;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem #0D4F67;
        }
    }
    //
    &.houston {
        color: #fff;
        background: #00AEEF;
        box-shadow: 0 0 0 .0625rem #E51937;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem #E51937;
        }
    }
    //
    &.indianapolis {
        color: #F6921E;
        background: #fff;
        box-shadow: 0 0 0 .0625rem #23488B;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem #23488B;
        }
    }
    //
    &.marine {
        color: #000;
        background: #FED130;
        box-shadow: 0 0 0 .0625rem #B0151B;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem #B0151B;
        }
    }
    //
    &.original {
        color: $black;
        background: #fff;
        box-shadow: 0 0 0 .0625rem $black;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem $black;
        }
    }
    //
    &.pittsburgh {
        color: $black;
        background: #FDC619;
        box-shadow: 0 0 0 .0625rem #313131;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem #313131;
        }
    }
    //
    &.york {
        color: #FEB204;
        background: #2843B9;
        box-shadow: 0 0 0 0 #2843B9;
        //
        .button.choose--product:hover &,
        .button.choose--product.selected & {
            box-shadow: 0 0 0 .25rem #2843B9;
        }
    }
    //
    &[class*="sold"] {
        opacity: .3;
        cursor: default;
    }
}
//
.product__color--label {
    display: inline-block;
    height: 1rem;
    font-size: .75rem;
    font-weight: 900;
    text-align: center;
}