// Product elements
// ------------------------------------------------------------


.product {
    &__page {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto; // 25rem;
            grid-gap: 0;
            //
            @media screen and (min-width: 65.625em) { // 1050px
                grid-template-columns: 50% 50%;
            }
            //
            @media screen and (min-width: 87.5em) { // 1400px
                grid-template-columns: 60% 40%;
            }
        }
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1 / span 3;
            grid-row: 2;
        }
        //
        position: relative;
        //margin-bottom: 2rem;
        padding-top: 0; // Removed padding to accomodate header moving
        padding-bottom: 3rem;
        //background: $fafafa;
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            width: calc(100% + 40vw);
            background: #f9fafb;
            border-top: .0625rem solid darken(#f9fafb, 8%);
        }
    }
    //
    //
    &__page--headings {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1;
            grid-row: 1;
            //
            @media screen and (min-width: 65.625em) { // 1050px
                grid-column: 1 / span 2;
                grid-row: 1;
            }
        }
        //
        position: relative;
        margin-bottom: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        //
        /*&:before {
            content: "";
            position: absolute;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            height: .0625rem;
            box-shadow: 0 .0625rem 0 darken(#f9fafb, 10%);
        }*/
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            background: $black;
            background-image: url("https://cdn.jsdelivr.net/gh/sk5/sk5.github.io@v1.2/assets/images/polygon-background.svg"), linear-gradient(30deg, $yellow 0%, $orange 33%, $red 66%, $purple 100%);
            background-size: cover;
            box-shadow: 0 0.0625rem 0 #dae1e7;
        }
    }
    //
    &--title {
        margin: 0;
        font-family: $brand-text;
        font-size: 2.5rem;
        font-weight: 900;
        line-height: .875em;
        text-transform: uppercase;
        color: $white;
    }
    //
    &-status {
        display: inline-block;
        margin-top: .5rem;
        padding: .3125rem .75rem;
        font-family: $brand-text;
        font-weight: 700;
        font-size: 95%;
        color: $white;
        background: $red;
        border-radius: .125rem;
        //
        &.sale {
            background: darken($green, 20%);
        }
    }
    //
    &__images {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1;
            grid-row: 2;
            //
            @media screen and (min-width: 65.625em) { // 1050px
                grid-column: 1;
                grid-row: 2;
            }
        }
    }
    //
    &__info {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1;
            grid-row: 3;
            //
            @media screen and (min-width: 65.625em) { // 1050px
                grid-column: 2;
                grid-row: 2;
            }
        }
        //
        @media screen and (min-width: 65.625em) { // 1050px
            padding-left: 2rem;
        }
    }
    //
    &__slides {
        overflow: hidden;
        margin: 0 -2rem;
        padding: 0;
        list-style: none;
        min-height: 50vh;
        max-height: 100vh;
        //
        @media screen and (min-width: 31.25em) { // 500px
            margin: 0;
        }
    }
    //
    &__slide {
        display: none;
        padding: 0;
        //
        @media screen and (min-width: 43.75em) { // 700px
            padding: 0 2rem;
        }
        //
        @media screen and (min-width: 56.25em) { // 900px
            padding: 0 6rem;
        }
        //
        @media screen and (min-width: 65.625em) { // 1050px
            padding: 0;
        }
        //
        @media screen and (min-width: 87.5em) { // 1400px
            padding: 0 4rem;
        }
        //
        &.active {
            display: block;
        }
    }
    //
    &--image {
        width: 100%;
    }
    //
    &__thumbnails {
        display: block;
        margin: 2rem 0 0 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    //
    &__thumbnail {
        display: inline-block;
        padding: .125rem;
        width: 5rem;
        box-shadow: 0 0 0 .0625rem $white;
    }
    //
    &__thumbnail--link {
        position: relative;
        display: block;
        //
        &:before {
            content: "";
            position: absolute;
            top: -1rem;
            right: -1.5rem;
            left: -1.5rem;
            width: calc(100% + 3rem);
            height: .0625rem;
            background: darken(#f9fafb, 15%);
        }
        //
        &:hover {
            box-shadow: 0 0 0 .0625rem darken(#f9fafb, 20%);
        }
        //
        &.active {
            //
            &:after {
                content: "";
                position: absolute;
                top: -.9375rem;
                left: calc(50% - 1.25rem);
                width: 2.5rem;
                height: .1875rem;
                background: $red;
                border-radius: 0 0 1rem 1rem;
            }
        }
    }
    //
    &__details {
        //padding-left: 2rem;
    }
    //
    &__details {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 2;
            grid-row: 2;
        }
    }
    //
    /*&:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: -20vw;
        left: -20vw;
        height: 10rem;
        background: $black;
        background-image: url(../images/polygon-background.svg), linear-gradient(30deg, $yellow 0%, $orange 33%, $red 66%, $purple 100%);
        background-size: cover;
    }*/
    //
    &--image-wrapper {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1;
            grid-row: 1;
        }
        //
    }
    //
    &--image {
        width: 100%;
    }
    //
    &--description {
        margin-bottom: 3rem;
        font-family: $body-text;
        font-size: 1.25rem;
        line-height: 125%;
        color: $black;
        //
        p:last-of-type {
            font-size: .875rem;
        }
    }
    //
    &--content {
        height: 6rem;
    }
    //
    //
    //
    //
    &__select {
        margin-bottom: 2rem;
    }
    //
    /*&--color {
        float: left;
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 40%;
    }*/
    //
    /*&--sizing {
        float: left;
        width: 40%;
    }
    //
    &--quantity {
        margin-bottom: 1rem;
        width: 20%;
    }*/
    //
    /*&--select-color,
    &--select-size,
    &--select-quantity {
        padding: .25rem .5rem;
        width: 100%;
        color: $black;
        font-size: 1rem;
        border: .125rem solid $black;
    }*/
    //
    /*.form--label {
        display: block;
        margin-bottom: .25rem;
        padding-right: 1rem;
        padding-left: 1rem;
        font-family: $brand-text;
        font-size: .75rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $black;
    }*/
    //
    //
    //
    &__inventory {
        padding: 2rem 0;
    }
    //
    &--info {
        color: $black;
    }
    //
    &__select-label {
        position: relative;
        display: block;
        margin-bottom: .5rem;
        padding-bottom: .5rem;
        font-family: $brand-text;
        font-size: .875rem;
        font-weight: 700;
        text-transform: uppercase;
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            right: 0;
            bottom: 0;
            left: 0;
            height: .0625rem;
            background: linear-gradient(30deg, $purple 0%, $blue 33%, $green 66%, $yellow 100%);
        }
    }
    //
    &__form {
        //margin-top: 2rem;
        //padding-top: 2rem;
        //box-shadow: 0 -.0625rem 0 darken(#f9fafb, 5%);
        //
        select {
            display: none;
            visibility: hidden;
            padding: .5rem;
            width: 100%;
            font-size: 1.125rem;
            color: $black;
            border: .0625rem solid $black;
            border-radius: .25rem;
        }
        //
        svg {
            display: none;
        }
    }
    //
    &__purchase {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //
        @media screen and (min-width: 38.75em) { // 620px
            flex-direction: row;
            justify-content: unset;
        }
        //
        .button {
            flex-basis: 100%;
            width: 100%;
            //
            @media screen and (min-width: 38.75em) { // 620px
                width: auto;
            }
        }
    }
    //
    &--price {
        padding-right: 2rem;
        width: 19rem; // This width is a temp fix
        font-family: $body-text;
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 1.25em;
        letter-spacing: -.0625rem;
        color: lighten($black, 10%);
        text-align: center;
        //
        @media screen and (min-width: 38.75em) { // 620px
            text-align: left;
        }
    }
}
//
//
//
//
.currency_sign {
    display: inline-block;
    vertical-align: top;
    padding-right: .125rem;
    font-size: 1.5rem;
    //letter-spacing: -.125rem;
}
//
//
//
.inventory {
    &__info {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto; // 25rem;
            grid-gap: .5rem;
        }
        //
        margin: 0;
        padding: 0;
    }
    //
    &__header {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: $black;
    }
    //
    &__box {
        position: relative;
        padding: .5rem 1rem;
        box-shadow: 0 0 0 .0625rem darken(#f9fafb, 10%);
        border-radius: .125rem;
    }
    //
    &__name {
        font-size: 1rem;
        font-weight: bold;
        color: $black;
    }
    //
    &__quantity {
        display: inline-block;
        font-size: 1.25rem;
        color: $black;
    }
    //
    &__label {
        display: inline-block;
        font-size: 1rem;
        color: lighten($black, 15%);
    }
}