// Navigation elements
// ------------------------------------------------------------

.navigation,
.cart {
    &__list  {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

.navigation {
    // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
    // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
    @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto; // 25rem;
        grid-gap: 0;
        //
        @media screen and (min-width: 62.5em) { // 1000px
            grid-template-columns: 32% auto 32%;
        }
        //
        @media screen and (min-width: 87.5em) { // 1400px
            grid-template-columns: 25% auto 25%;
        }
    }
    //
    padding-bottom: 1rem;
    //
    @media screen and (min-width: 46.875em) { // 750px
        padding-bottom: 1.5rem;
    }
    //
    @media screen and (min-width: 62.5em) { // 1000px
        padding-bottom: 0;
    }
    //
    &__left {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1;
            grid-row: 2;
            //
            @media screen and (min-width: 62.5em) { // 1000px
                grid-column: 1;
                grid-row: 1;
            }
        }
        //
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
        text-align: center;
        //
        @media screen and (min-width: 46.875em) { // 750px
            margin-bottom: 0;
            text-align: left;
        }
    }
    //
    &__right {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1;
            grid-row: 3;
            //
            @media screen and (min-width: 46.875em) { // 750px
                grid-column: 2;
                grid-row: 2;
            }
            //
            @media screen and (min-width: 62.5em) { // 1000px
                grid-column: 3;
                grid-row: 1;
            }
        }
        //
        display: flex;
        align-items: center;
        text-align: center;
        //
        @media screen and (min-width: 46.875em) { // 750px
            text-align: right;
        }
    }
    //
    &__list-item {
        display: inline-block;
        list-style: none;
    }
    //
    &__link,
    &__list-item a {
        transition: box-shadow .3s ease;
        position: relative;
        display: inline-block;
        margin-right: .5rem;
        margin-left: .5rem;
        padding: .5rem 0;
        font-family: $brand-text;
        font-size: 1rem;
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;
        color: $black;
        box-shadow: 0 .125rem 0 transparent;
        //box-shadow: 0 .125rem 0 transparent;
        //
        &:before {
            content: "";
            transition: all .2s ease;
            position: absolute;
            right: 100%;
            bottom: 0;
            left: 0;
            //width: 0;
            height: .125rem;
            background: $blue;
        }
        //
        &:hover {
            color: darken($green, 20%);
            box-shadow: 0 .125rem 0 $purple;
            //box-shadow: 0 .125rem 0 $blue;
            &:before {
                right: 0;
                //width: 100%;
                background: $blue;
            }
        }
        //
        .navigation__list-item:first-of-type & {
            margin-left: 0;
        }
        //
        .navigation__list-item:last-of-type & {
            margin-right: 0;
        }
        //
        .navigation__cart--total {
            vertical-align: top;
            font-family: $body-text;
            font-size: inherit;
            font-weight: 700;
            line-height: 1.1875rem;
            color: lighten($black, 20%);
        }
    }
}
//
//
.navigation__list-item.selected a {
    color: darken($blue, 20%);
    box-shadow: 0 .0625rem 0 $blue;
}