// Footer wrapping elements
// ------------------------------------------------------------


.product {
    &__page {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto; // 25rem;
            grid-gap: 0;
        }
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1 / span 3;
            grid-row: 2;
        }
        //
        position: relative;
        //margin-bottom: 2rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        //background: $fafafa;
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            width: calc(100% + 40vw);
            background: #f9fafb;
            border-top: .0625rem solid darken(#f9fafb, 8%);
        }
    }
    //
    &__images {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1;
            grid-row: 1;
        }
    }
    //
    &__info {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 2;
            grid-row: 1;
        }
    }
    //
    &__slides {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    //
    &--image {
        width: 100%;
    }
    //
    &__page--headings,
    &__details {
        padding-left: 2rem;
    }
    //
    &__page--headings {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 2;
            grid-row: 1;
        }
    }
    //
    &--title {
        margin: 0 0 1rem 0;
        font-family: $thick-text;
        font-size: 2.25rem;
        line-height: .875em;
        text-transform: none;
        color: $black;
    }
    //
    &__details {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 2;
            grid-row: 2;
        }
    }
    //
    /*&:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: -20vw;
        left: -20vw;
        height: 10rem;
        background: $black;
        background-image: url(../images/polygon-background.svg), linear-gradient(30deg, $yellow 0%, $orange 33%, $red 66%, $purple 100%);
        background-size: cover;
    }*/
    //
    &--image-wrapper {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1;
            grid-row: 1;
        }
        //
    }
    //
    &--image {
        width: 100%;
    }
    //
    &--description {
        color: $black;
    }
    //
    &--content {
        height: 6rem;
    }
    //
    //
    //
    //
    &__select {
        margin-bottom: 2rem;
    }
    //
    /*&--color {
        float: left;
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 40%;
    }*/
    //
    &--sizing {
        float: left;
        width: 40%;
    }
    //
    &--quantity {
        margin-bottom: 1rem;
        width: 20%;
    }
    //
    &--select-color,
    &--select-size,
    &--select-quantity {
        padding: .25rem .5rem;
        width: 100%;
        color: $black;
        font-size: 1rem;
        border: .125rem solid $black;
    }
    //
    .form--label {
        display: block;
        margin-bottom: .25rem;
        padding-right: 1rem;
        padding-left: 1rem;
        font-family: $brand-text;
        font-size: .75rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $black;
    }
    //
    //
    //
    &__inventory {
        padding: 2rem 0;
    }
    //
    &--info {
        color: $black;
    }
    //
    &__form {
        select {
            padding: .25rem .5rem;
            font-size: 1rem;
            color: $black;
            border: .0625rem solid $black;
        }
        //
        svg {
            display: none;
        }
    }
    //
    &__purchase {
        display: flex;
        align-items: center;
        //
        .button {
            flex-basis: 100%;
        }
    }
    //
    &--price {
        padding-right: 2rem;
        width: 11rem; // This width is a temp fix
        font-family: $brand-text;
        font-size: 2rem;
        color: lighten($black, 20%);
    }
}
//
//
//
//
.currency_sign {
    display: inline-block;
    vertical-align: top;
    font-size: 1.5rem;
}
//
//
//
.inventory {
    &__info {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto; // 25rem;
            grid-gap: .5rem;
        }
        //
        margin: 0;
        padding: 0;
    }
    //
    &__header {
        color: $black;
    }
    //
    &__box {
        padding: 1rem;
        box-shadow: 0 0 0 .0625rem darken(#f9fafb, 10%);
        border-radius: .125rem;
    }
    //
    &__name {
        font-size: 1rem;
        font-weight: bold;
        color: $black;
    }
    //
    &__quantity {
        display: inline-block;
        font-size: 1.25rem;
        color: $black;
    }
    //
    &__label {
        display: inline-block;
        font-size: 1rem;
        color: lighten($black, 15%);
    }
}