// Project wrapping elements
// ------------------------------------------------------------


.similar__product {
    &s--wrapper {
        padding: 4rem;
        background: $red;
        //
        .product-list-item {
            overflow: hidden;
            width: 12rem;
            border-radius: .25rem;
            //
            figure {
                margin: 0 0 -.25rem 0;
            }
            //
            img {
                width: 100%;
            }
        }
        //
        .product-list-item-info {
            padding: 1rem;
            background: $white;
        }
        //
        .product-list-item-info-headers {
            color: $black;
        }
        //
        .product-list-item-status {
            font-size: .75rem;
            color: $red;
        }
        //
        .product-list-item-name {
            font-family: $thick-text;
            font-size: 1rem;
            color: $black;
        }
        //
        .product-list-item-price {
            display: none;
            visibility: hidden;
        }
    }
    //
    &s--title {
        color: $white;
    }
    //
    &--list {
        display: flex;
    }
}