// Project wrapping elements
// ------------------------------------------------------------


.similar__product {
    &s--wrapper {
        position: relative;
        padding: 3rem 0;
        overflow: hidden;
        width: 80vw;
        max-width: 100rem;
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            left: -20vw;
            height: 100%;
            min-height: 20rem;
            background: linear-gradient(30deg, $yellow 0%, $orange 33%, $red 66%, $purple 100%);
            background-size: cover;
        }
        //
        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            top: -20vw;
            right: -20vw;
            left: -20vw;
            transform: rotate(45deg);
            height: 200%;
            min-height: 20rem;
            background: $red;
            background-image: url("https://cdn.jsdelivr.net/gh/sk5/sk5.github.io@v1.2/assets/images/RUN-pattern.svg");
            background-size: 50%;
        }
        //
        .product-list-item {
            overflow: hidden;
            width: 12rem;
            text-decoration: none;
            border-radius: .25rem;
            box-shadow: 0 0 0 .125rem $white;
            //
            figure {
                margin: 0 0 -.25rem 0;
            }
            //
            img {
                width: 105%;
            }
        }
        //
        .product-list-item-container {
            overflow: hidden;
            height: 12rem;
        }
        //
        .product-list-item-info {
            padding: 1rem;
            background: $white;
        }
        //
        .product-list-item-info-headers {
            height: 3.5rem;
            color: $black;
        }
        //
        .product-list-item-status {
            font-size: .75rem;
            color: $red;
        }
        //
        .product-list-item-name {
            font-family: $brand-text;
            font-size: 1rem;
            font-weight: 900;
            text-transform: uppercase;
            color: $black;
        }
        //
        .product-list-item-price {
            display: none;
            visibility: hidden;
        }
    }
    //
    &s--content {
        width: 80vw;
        max-width: 100rem;
    }
    //
    &s--title {
        margin: 0 0 1em 0;
        font-family: $brand-text;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1em;
        text-transform: uppercase;
        color: $white;
    }
    //
    &--list {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: 12rem 12rem 12rem 12rem auto;
            grid-template-rows: auto; // 25rem;
            grid-gap: 1rem;
        }
        //
    }
}