// Header elements
// ------------------------------------------------------------

// Logo
.ftr__logo {
    fill: $white;
    //
    &--f {
        fill: $orange;
    }
    //
    &--o,
    &--heart {
        fill: $red;
    }
    //
    &--r {
        fill: $purple;
    }
    //
    &--the {
        fill: $black;
    }
    //
    &--r1 {
        fill: $blue;
    }
    //
    &--u {
        fill: $green;
    }
    //
    &--n {
        fill: $yellow;
    }
}
//
//
//
.header {
    // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
    // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
    @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    //
    position: relative;
    padding: 0;
    background: $white;
    //background: linear-gradient(-45deg, lighten($black, 5%) 0%, darken($black, 10%) 100%);
    //width: 30vw;
    //box-shadow: -1rem 1rem 2rem rgba(black, .2);
    //
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        width: 50vw;
        background: $white;
    }
    //
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        width: 50vw;
        background: $white;
    }
    //
    &__title {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 2;
            grid-row: 1;
        }
        //
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 3rem;
        padding-bottom: 3rem;
        //height: 30vh;
        //text-align: center;
        //margin: 0;
        //width: 100%;
        //text-align: center;
    }
    //
    &__link {
        //display: inline-block;
        width: 20rem;
        //height: 9.375rem;
        //box-shadow: -1rem 0 0 $white, -1.0625rem 0 0 $orange, -1.1875rem 0 0 $white, -1.25rem 0 0 $red, -1.375rem 0 0 $white, -1.4375rem  0 0 $purple;
    }
}