// Content elements
// ------------------------------------------------------------


.content {
    &__page {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: 60% 40%;
            grid-template-rows: auto; // 25rem;
            grid-gap: 0;
        }
        //
        font-family: $body-text;
        color: $black;
        //
        &.contact {
            // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
            // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
            @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
                grid-template-columns: auto;
            }
            //
            @media screen and (min-width: 62.5em) { // 1000px
                grid-template-columns: 40% 60%;
            }
            //
            position: relative;
            //
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                right: -20vw;
                bottom: 0;
                left: -20vw;
                background-image: url("https://cdn.jsdelivr.net/gh/sk5/sk5.github.io@v1.3/assets/images/polygon-background.svg"), linear-gradient(30deg, $purple 0%, $blue 33%, $green 66%, $yellow 100%);
                background-size: cover;
            }
        }
    }
    //
    &__header {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1 / span 2;
            grid-row: 1;
        }
        //
        position: relative;
        margin-bottom: 3rem;
        padding: 2rem 0;
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            background: linear-gradient(30deg, $purple 0%, $blue 33%, $green 66%, $yellow 100%);
        }
        //
        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            background: transparent;
            background-image: url("https://cdn.jsdelivr.net/gh/sk5/sk5.github.io@v1.3/assets/images/polygon-background.svg");
            background-size: cover;
        }
        //
        .content__page.contact & {
            // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
            // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
            @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
                grid-column: 1;
                grid-row: 1;
            }
            //
            margin-bottom: 0;
            //
            @media screen and (min-width: 62.5em) { // 1000px
                // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
                // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
                @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
                    grid-column: 1 / span 2;
                }
                //
            }
            //
            &:before,
            &:after {
                display: none;
            }
        }
    }
    //
    &__title {
        margin: 0;
        font-family: $brand-text;
        font-size: 2.5rem;
        font-weight: 900;
        line-height: .875em;
        text-transform: uppercase;
        color: $white;
    }
    //
    &__sub-title {
        margin: 0 0 1em 0;
        font-family: $brand-text;
        font-size: 2rem;
        font-weight: 900;
        line-height: .875em;
        text-transform: uppercase;
        color: $white;
    }
    //
    h2,
    h3,
    h4,
    h5 {
        margin: 1em 0 .5em 0;
        font-family: $brand-text;
        font-weight: 900;
        text-transform: uppercase;
    }
    //
    h2 {
        font-size: 2.25rem;
        color: darken($purple, 30%);
    }
    //
    h3 {
        font-size: 2.125rem;
        color: darken($blue, 30%);
    }
    //
    h4 {
        font-size: 2rem;
        color: darken($purple, 20%);
    }
    //
    h5 {
        font-size: 1.75rem;
        color: darken($blue, 20%);
    }
    //
    p,
    ul,
    li {
        font-size: 1.4125rem;
        line-height: 125%;
    }
    //
    //
    //
    &__submission--message {
        font-family: $body-text;
        font-size: 1.25rem;
        line-height: 125%;
        //
        .content__sub-title {
            color: darken($blue, 20%);
        }
        //
        & > p {
            font-size: inherit;
            line-height: inherit;
        }
    }
    //
    //
    //
    &__form--wrapper,
    &__submission--message {
        margin-bottom: 3rem;
        padding: 2rem;
        background: $white;
        border-radius: .5rem;
        box-shadow: 0 0 0 .0625rem rgba(black, .3);
    }
    //
    //
    //
    &__additional--contact,
    &__phone--contact {
        p {
            font-size: 1.4125rem;
            line-height: 125%;
        }
    }
    //
    &__additional--contact {
        margin-bottom: 3rem;
        padding: 2rem;
        height: 25rem;
        background: $white;
        border-radius: .5rem;
        box-shadow: 0 0 0 .0625rem rgba(black, .3);
        //
        @media screen and (min-width: 62.5em) { // 1000px
            margin-left: 3rem;
        }
        //
        h2,
        h3,
        h4 {
            margin-bottom: .5em;
            color: $blue;
        }
    }
    //
    &__phone--contact {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: .0625rem solid darken(#f9fafb, 30%);
    }
    //
    //
    //
    &__charity-breakdown {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        /*@supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto; // 25rem;
            grid-gap: 1rem;
            //
            @media screen and (min-width: 62.5em) { // 1000px
                grid-template-columns: repeat(2, 1fr);
            }
        }*/
        //
        margin: 2rem 0;
        padding: 0;
        list-style: none;
    }
}