// Button styles
// ------------------------------------------------------------


button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

.button {
    display: inline-block;
    padding: .5rem 1rem;
    font-family: $thick-text;
    font-size: 1rem;
    line-height: 1em;
    color: white;
    text-shadow: 0 0 .125rem rgba(0,0,0,.2);
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 10rem;
    //
    &.large {
        padding: 1.25rem 2rem;
        font-size: 1.5rem;
        font-weight: 900;
        letter-spacing: .0625rem;
    }
    //
    &.positive {
        background: darken($green, 10%);
    }
    //
    &.flat {
        color: lighten($black, 20%);
        background: transparent;
        //
        &.negative {
            color: darken($red, 10%);
        }
        //
        &.positive {
            color: darken($green, 10%);
        }
    }
}