// Feature(home & Products page elements
// ------------------------------------------------------------


.feature {
    &__list--wrapper {
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            left: -20vw;
            height: 50vh;
            min-height: 36rem;
            background: $black;
            background-image: url(../images/polygon-background.svg), linear-gradient(30deg, $yellow 0%, $orange 33%, $red 66%, $purple 100%);
            background-size: cover;
        }
    }
}
//
//
//
//
//
.products {
    &__page {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1 / span 3;
            grid-row: 2;
        }
        //
        position: relative;
        //margin-bottom: 2rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        //background: $fafafa;
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            width: calc(100% + 40vw);
            background: #f9fafb;
            border-top: .0625rem solid darken(#f9fafb, 8%);
        }
    }
    //
    &__category--nav {
        padding: 0 0 2rem 0;
        //background: $white;
        //border-radius: .125rem;
        //box-shadow: 0 0 0 .0625rem darken(#f9fafb, 20%);
    }
    //
    &__categories--title {
        display: inline-block;
        margin-right: .5rem;
    }
    //
    &__categories--list {
        display: inline-block;
        margin: 0 0 .5rem 0;
        padding: 0;
        list-style: none;
        //
        li {
            display: inline-block;
            margin-right: .25rem;
            //
            a {
                display: block;
                padding: .5rem 1rem;
                font-family: $brand-text;
                font-size: 1.125rem;
                font-weight: 500;
                letter-spacing: .0625rem;
                text-transform: uppercase;
                text-decoration: none;
                color: $black;
                background: $white;
                border-radius: 10rem;
                box-shadow: 0 0 0 .0625rem darken(#f9fafb, 20%);
            }
            //
            &.selected a {
                color: white;
                background: $red;
                box-shadow: 0 0 0 .0625rem darken($red, 20%);
            }
        }
    }
    //
    //
    //
    &__list {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto; // 25rem;
            grid-gap: 0;
        }
    }
    //
    &__item {
    }
}
//
//
//
//
//
.feature,
.products {
    /*&__design {
        position: relative;
        z-index: 1;
        display: inline-block;
        width: calc(30vh + 20rem);
        height: 30vh;
        //background: linear-gradient(to right, rgba($black, 0) 0%, rgba($black, 1) 30%, rgba($black, 1) 70%, rgba($black, 0) 100%);
        //
        //&:before {
            //content: "";
            //position: absolute;
            //z-index: -2;
            //top: 0;
            //right: 50%;
            //bottom: 0;
            //width: 100vw;
            //background-image: url(../images/ftr-heart-angle.svg);
            //background-size: 4%;
        //}
    }*/
    //
    &__list--wrapper {
        position: relative;
        z-index: 0;
        padding-top: 4rem;
        padding-bottom: 4rem;
        height: auto;
        min-height: 44rem;
        background: $white;        
    }
    //
    &__list {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto; // 25rem;
            grid-gap: 0;
        }
        //
        //margin-top: 4rem;
    }
    //
    &__item {
        position: relative;
        height: 50vh;
        min-height: 44rem;
        text-decoration: none;
        background: $white;
        box-shadow: inset .0625rem -.0625rem 0 rgba($black, .1);
        //
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: .0625rem;
            height: 100%;
            background: white;
        }
        //
        &:nth-child(1) {
            // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
            // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
            @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
                grid-column: 1;
                grid-row: 1;
            }
            //
            //background: $yellow;
            box-shadow: inset 0 -.0625rem 0 rgba($black, .1);
        }
        //
        &:nth-child(2) {
            // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
            // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
            @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
                grid-column: 2;
                grid-row: 1;
            }
            //
            //background: $orange;
        }
        //
        &:nth-child(3) {
            // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
            // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
            @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
                grid-column: 3;
                grid-row: 1;
            }
            //
            //background: $red;
            &:after {
                display: none;
            }
        }
        //
        &--image {
            position: relative;
            margin: 0;
            overflow: hidden;
            width: 100%;
            height: 40vh;
            min-height: 36rem;
            //
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 100%;
            }
        }
        //
        &--info {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 10vh;
            min-height: 8rem;
            text-align: center;
            background: #f9fafb;
        }
        //
        &--headers {
            //position: relative; -- Removed this to move the status up to its parent item
            z-index: 1;
            width: 100%;
        }
        //
        &--status {
            position: absolute;
            top: -.75rem;
            left: 50%;
            transform: translateX(-50%);
            padding: .3125rem .75rem;
            font-family: $brand-text;
            font-weight: 700;
            font-size: 95%;
            line-height: 1rem;
            color: white;
            background: $red;
            border-radius: .125rem;
        }
        //
        &--name {
            margin: 0;
            font-family: $thick-text;
            font-size: 1.375rem;
            font-weight: 700;
            //text-transform: uppercase;
            color: lighten($black, 5%);
        }
        //
        &--price {
            margin: .25rem 0 0 0;
            font-family: $thick-text;
            font-size: 1rem;
            font-weight: 700;
            color: lighten($black, 20%);
            //
            .currency_sign {
                font-size: 1rem;
                letter-spacing: 0;
            }
        }
    }
}