// Cart elements
// ------------------------------------------------------------


.cart {
    &__page {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto; // 25rem;
            grid-gap: 0;
        }
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1 / span 3;
            grid-row: 2;
        }
        //
        position: relative;
        //margin-bottom: 2rem;
        padding-bottom: 3rem;
        min-height: 60vh;
        //background: $fafafa;
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            width: calc(100% + 40vw);
            background: #f9fafb;
            border-top: .0625rem solid darken(#f9fafb, 8%);
        }
    }
    //
    &__header {
        position: relative;
        margin-bottom: 3rem;
        padding: 2rem 0;
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            background: url("https://cdn.jsdelivr.net/gh/sk5/sk5.github.io@v1.3/assets/images/polygon-background.svg"), linear-gradient(30deg, $yellow 0%, $orange 33%, $red 66%, $purple 100%);
            background-size: cover;
        }
    }
    //
    &__title {
        margin: 0;
        font-family: $brand-text;
        font-size: 2.5rem;
        font-weight: 900;
        line-height: .875em;
        text-transform: uppercase;
        color: $white;
    }
    //
    &--empty-message {
        font-family: $body-text;
        font-size: 1.25rem;
        line-height: 125%;
        color: $black;
    }
    //
    //
    //
    &__items {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    //
    &__item {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: 16rem auto;
            grid-template-rows: auto; // 25rem;
            grid-gap: 0;
        }
        //
    }
    //
    &__item--image {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1;
            grid-row: 1;
        }
        //
        width: 14rem;
        //
        img {
            width: 100%;
        }
    }
    //
    &__item--details {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 2;
            grid-row: 1;
        }
        //
    }
    //
    &__item--adjustments {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    //
    &__item--quantity-holder {
        display: inline-block;
    }
    //
    &__item--remove {
        display: inline-block;
    }
    //
    //
    //
    &__footer {
        padding: 2rem;
        background: white;
        box-shadow: 0 0 0 .0625rem darken(#f9fafb, 20%);
    }
    //
    &__summary {
        box-shadow: 0 .0625rem 0 #f9fafb;
    }
}