// Feature(home & Products page elements
// ------------------------------------------------------------


.feature,
.products {
    //
    &__list {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: 1;
            grid-template-rows: auto; // 25rem;
            grid-gap: 0;
            //
            @media screen and (min-width: 46.875em) { // 750px
                grid-template-columns: repeat(2, 1fr);
            }
            //
            @media screen and (min-width: 68.75em) { // 1100px
                grid-template-columns: repeat(4, 1fr);
            }
        }
        //
        //margin-top: 4rem;
    }
    //
    &__item {
        position: relative;
        height: 35rem;
        //min-height: 34rem;
        text-decoration: none;
        background: $white;
        box-shadow: inset .0625rem -.0625rem 0 rgba($black, .1);
        //
        @media screen and (min-width: 40.625em) { // 650px
            height: 37rem;
        }
        //
        @media screen and (min-width: 46.875em) { // 750px
            height: 27rem;
        }
        //
        &:hover {
            box-shadow: inset .0625rem -.0625rem 0 rgba($black, .1), inset 0 -.125rem 0 0 darken(#f9fafb, 40%);
            //
            img {
                transform: scale(.9) translate(-50%, -50%);
            }
        }
        //
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: .0625rem;
            height: 100%;
            background: white;
        }
        //
        &:nth-child(1),
        &:nth-child(5n) {
            box-shadow: inset 0 -.0625rem 0 rgba($black, .1);
            //
            &:hover {
                box-shadow: inset 0 -.0625rem 0 rgba($black, .1), inset 0 -.125rem 0 0 darken(#f9fafb, 40%);
            }
        }
        //
        &:nth-child(4n) {
            &:after {
                display: none;
            }
        }
        //
        &--image {
            position: relative;
            margin: 0;
            overflow: hidden;
            width: 100%;
            height: 28rem;
            //
            @media screen and (min-width: 40.625em) { // 650px
                height: 30rem;
            }
            //
            @media screen and (min-width: 46.875em) { // 750px
                height: 20rem;
            }
            //
            img {
                transition: all .5s ease;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transform-origin: top left;
                width: 100%;
                //
                @media screen and (min-width: 40.625em) { // 650px
                    width: auto;
                    height: 100%;
                }
                //
                /*@media screen and (min-width: 46.875em) { // 750px
                    width: auto;
                    height: 100%;
                }*/
            }
        }
        //
        &--info {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 7rem;
            text-align: center;
        }
        //
        &--headers {
            //position: relative; -- Removed this to move the status up to its parent item
            z-index: 1;
            width: 100%;
        }
        //
        &--status {
            position: absolute;
            top: -.75rem;
            left: 50%;
            transform: translateX(-50%);
            padding: .3125rem .75rem;
            font-family: $brand-text;
            font-weight: 700;
            font-size: 95%;
            line-height: 1rem;
            color: white;
            background: $red;
            border-radius: .125rem;
            //
            &.sale {
                background: darken($green, 20%);
            }
        }
        //
        &--name {
            margin: 0;
            font-family: $brand-text;
            font-size: 1rem;
            font-weight: 900;
            text-transform: uppercase;
            color: $black;
        }
        //
        &--price {
            margin: .25rem 0 0 0;
            font-family: $body-text;
            font-size: 1rem;
            font-weight: 500;
            color: lighten($black, 10%);
            //
            .currency_sign {
                font-size: 1rem;
                letter-spacing: 0;
            }
        }
    }
}
//
//
//
//
//
.feature {
    //
    &__highlight {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        margin: 0 -20vw;
        width: calc(100% + 40vw);
        height: 70vh;
        background: $black;
        //
        @media screen and (min-width: 40.625em) { // 650px
            height: 40rem;
        }
        //
        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            background: rgba(black, .5);
        }
        //
        img {
            position: absolute;
            z-index: 0;
            right: 0;
            left: 0;
            height: 100%;
            //
            @media screen and (min-width: 46.875em) { // 750px
                width: 100%;
                height: auto;
            }
        }
    }
    //
    &__welcome {
        position: relative;
        z-index: 1;
        margin: 0 20vw;
        font-family: $brand-text;
        font-size: 3.5rem;
        line-height: .9375em;
        font-weight: 900;
        text-transform: uppercase;
        color: $white;
        //
        @media screen and (min-width: 40.625em) { // 650px
            font-size: 5rem;
        }
    }
    //
    &__title {
        margin: 0 0 2rem 0;
        font-family: $brand-text;
        font-size: 2.5rem;
        font-weight: 900;
        line-height: .875em;
        text-transform: uppercase;
        color: $white;
    }
    //
    &__list--wrapper {
        position: relative;
        z-index: 0;
        padding-top: 2rem;
        padding-bottom: 3rem;
        height: auto;
        //min-height: 44rem;
        background: $white;
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: 7rem;
            left: -20vw;
            //height: 27rem;
            background: $black;
            background-image: url("https://cdn.jsdelivr.net/gh/sk5/sk5.github.io@v1.2/assets/images/polygon-background.svg"), linear-gradient(30deg, $yellow 0%, $orange 33%, $red 66%, $purple 100%);
            background-size: cover;
        }
        //
        &:after {
            content: "";
            position: absolute;
            z-index: -2;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            //height: 50vh;
            //min-height: 32rem;
            background: #f9fafb;
        }
    }
}
//
//
//
//
//
.products {
    &__page {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            grid-column: 1 / span 3;
            grid-row: 2;
        }
        //
        position: relative;
        //margin-bottom: 2rem;
        //padding-top: 3rem;
        padding-bottom: 3rem;
        //background: $fafafa;
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            width: calc(100% + 40vw);
            background: #f9fafb;
            border-top: .0625rem solid darken(#f9fafb, 8%);
        }
    }
    //
    &__header {
        position: relative;
        //margin-bottom: 3rem;
        padding: 2rem 0;
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: -3rem;
            left: -20vw;
            background: url("https://cdn.jsdelivr.net/gh/sk5/sk5.github.io@v1.3/assets/images/polygon-background.svg"), linear-gradient(30deg, $yellow 0%, $orange 33%, $red 66%, $purple 100%);
            background-size: cover;
        }
        //
        /*&:after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            background: transparent;
            background-image: url("https://cdn.jsdelivr.net/gh/sk5/sk5.github.io@v1.3/assets/images/polygon-background.svg");
            background-size: cover;
        }*/
    }
    //
    &__title {
        margin: 0 0 1rem 0;
        font-family: $brand-text;
        font-size: 2.5rem;
        font-weight: 900;
        line-height: .875em;
        text-transform: uppercase;
        color: $white;
    }
    //
    &__category--nav {
        padding: 0;
        //background: $white;
        //border-radius: .125rem;
        //box-shadow: 0 0 0 .0625rem darken(#f9fafb, 20%);
    }
    //
    &__categories--title {
        display: inline-block;
        margin-right: .5rem;
    }
    //
    &__categories--list {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;
        //
        li {
            display: inline-block;
            margin-right: .25rem;
            //
            a {
                display: block;
                padding: .5rem 1rem;
                font-family: $brand-text;
                font-size: .875rem;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
                color: $black;
                background: $white;
                border-radius: 10rem;
                box-shadow: 0 0 0 .0625rem rgba(black, .2);
                //
                &:hover {
                    color: darken($red, 10%);
                    box-shadow: 0 0 0 .0625rem darken($red, 20%);
                }
            }
            //
            &.selected a {
                color: white;
                cursor: default;
                background: $red;
                box-shadow: 0 0 0 .0625rem darken($red, 20%);
            }
        }
    }
    //
    //
    //
    //
    &__list--wrapper {
        position: relative;
        z-index: 0;
        padding-top: 3rem;
        padding-bottom: 3rem;
        height: auto;
        //min-height: 44rem;
        background: $white;
    }
    //
    //
    //
    &__list {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        /*@supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto; // 25rem;
            grid-gap: 0;
        }*/
    }
    //
    &__item {
        //
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: .0625rem;
            height: 100%;
            background: #f9fafb;
        }
        //
        &--info {
            //background: $white;
        }
    }
}