// Custom page elements
// ------------------------------------------------------------


.custom {
    &-page {
        position: relative;
        //margin-bottom: 2rem;
        padding-top: 0;
        padding-bottom: 3rem;
        //
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: -20vw;
            bottom: 0;
            left: -20vw;
            width: calc(100% + 40vw);
            background: #f9fafb;
            border-top: .0625rem solid darken(#f9fafb, 8%);
        }
        //
        &-header {
            position: relative;
            margin: 0 0 3rem 0;
            padding-top: 2rem;
            padding-bottom: 2rem;
            font-family: $brand-text;
            font-size: 2.5rem;
            font-weight: 900;
            line-height: .875em;
            text-transform: uppercase;
            color: $white;
            //
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                right: -20vw;
                bottom: 0;
                left: -20vw;
                background: $black;
                background-image: url("https://cdn.jsdelivr.net/gh/sk5/sk5.github.io@v1.2/assets/images/polygon-background.svg"), linear-gradient(30deg, $purple 0%, $blue 33%, $green 66%, $yellow 100%);
                background-size: cover;
                box-shadow: 0 0.0625rem 0 #dae1e7;
            }
        }
        //
        &-content {
            min-height: 50vh;
            font-family: $body-text;
            font-size: 1.25rem;
            line-height: 125%;
            color: $black;
            //
            @media screen and (min-width: 56.25em) { // 900px
                padding-right: 20%;
            }
            //
            @media screen and (min-width: 68.75em) { // 1100px
                padding-right: 40%;
            }
        }
        //
        h2,
        h3,
        h4,
        h5 {
            margin: 1em 0 .5em 0;
            font-family: $brand-text;
            font-weight: 900;
            line-height: 1em;
            text-transform: uppercase;
        }
        //
        h2 {
            font-size: 2.25rem;
            color: darken($purple, 30%);
        }
        //
        h3 {
            font-size: 2.125rem;
            color: darken($blue, 30%);
        }
        //
        h4 {
            font-size: 2rem;
            color: darken($purple, 20%);
        }
        //
        h5 {
            font-size: 1.75rem;
            color: darken($blue, 20%);
        }
        //
        p,
        ul,
        li {
            font-size: 1.4125rem;
            line-height: 125%;
        }
        //
        .mission__list {
            margin-right: 0;
            margin-left: 0;
            padding: 0;
            list-style: none;
        }
        //
        .mission__hashtag {
            display: inline-block;
            padding: .75rem 1.5rem;
            font-family: $brand-text;
            font-size: 1.25rem;
            font-weight: 900;
            text-transform: uppercase;
            color: $white;
            background: linear-gradient(30deg, $purple 10%, $red 90%);
        }
        //
        .mission__heart {
            display: block;
            margin: 0;
            width: 2rem;
            height: 2rem;
            //
            svg {
                width: 100%;
                //
                path {
                    fill: $red;
                }
            }
        }
        //
        .mission__giving {
            position: relative;
            display: inline-block;
            margin-top: 3rem;
            padding: 1rem;
            background: linear-gradient(30deg, darken($blue, 15%) 10%, darken($purple, 15%) 90%);
            border-radius: 10rem;
            //
            &:before {
                content: "";
                position: absolute;
                top: -2.5rem;
                right: 0;
                left: 0;
                height: .0625rem;
                background: darken(#f9fafb, 30%);
            }
            //
            .button {
                position: relative;
                //
                &:after {
                    content: "";
                    position: absolute;
                    top: -1rem;
                    right: -1rem;
                    bottom: -1rem;
                    left: -1rem;
                }
            }
        }
        //
        .charity--example {
            //font-family: $brand-text;
            font-size: 1.25rem;
            text-align: left;
            color: $black;
            //
            h3 {
                position: relative;
                margin-bottom: .5rem;
                padding-bottom: .5rem;
                font-size: 1.75rem;
                font-weight: 900;
                text-transform: uppercase;
                //
                //
                &:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: .0625rem;
                    background: linear-gradient(30deg, $green 0%, white 100%);
                }
            }
            //
            span {
                display: block;
                padding-top: .5rem;
                padding-bottom: .5rem;
            }
        }
    }
}
//
//
//
.give {
    &__campaigns {
        // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
        // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
        @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto; // 25rem;
            grid-gap: 1rem;
            //
            @media screen and (min-width: 62.5em) { // 1000px
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    //
    &__block {
        padding: 2rem;
        background: darken($blue, 10%);
        //
        &.weekly {
            background: darken($purple, 10%);
        }
        //
        &.donation {
            background: darken($green, 20%);
        }
        //
        &.giveaway {
            background: darken($blue, 15%);
        }
        //
        &.entry {
            background: darken($orange, 20%);
        }
        //
        h3 {
            margin: 0 0 .75em 0;
            padding-bottom: .75em;
            color: $white;
            border-bottom: .0625rem solid rgba($white, .7);
        }
        //
        p,
        a {
            color: $white;
            //
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
