// Variables
// ------------------------------------------------------------


$orange: #ffa357;
$red: #ff5a5a;
$purple: #ff57e7;
$blue: #5aadff;
$green: #57eec7;
$yellow: #dbfc35; // #d0ef32; // #dbff57;
$black: #303030;
$white: #fff; // #e8fcfb; // #fffef4;



$nav-text: 'Comfortaa', sans-serif;
$body-text: 'Frank Ruhl Libre', serif;
