body {
  margin: 0;
  padding: 0;
  color: #fefefe;
  background: #202020; }

.feature {
  position: relative;
  width: 100%;
  height: 100vh; }
  .feature__logo {
    position: absolute;
    z-index: 1;
    top: 8rem;
    left: 4rem;
    display: block;
    width: 12rem; }
  .feature__image {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/ftr-background.jpg");
    background-size: cover; }
    .feature__image:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(32, 32, 32, 0.2); }
    .feature__image:after {
      content: "";
      position: absolute;
      top: 4rem;
      right: 4rem;
      bottom: 4rem;
      left: 20rem;
      border-radius: .125rem;
      box-shadow: 0 0 0 0.0625rem rgba(255, 255, 255, 0.1), 0 0 0 50vw rgba(32, 32, 32, 0.7); }
