$orange: #ffa357;
$red: #ff5a5a;
$purple: #ff57e7;
$blue: #5aadff;
$green: #57eec7;
$yellow: #dbff57;
$black: #202020;
$white: #fffef4;



$nav-font: 'Dosis', sans-serif;



html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    color: #fefefe;
    background: $white;
}

.site__container {
    overflow: hidden;
}

.project {
    // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
    // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
    @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto; // 25rem;
        grid-gap: 0;
    }
    //
    margin: 0 auto;
    padding: 0;
    width: 80vw;
    background: $white;
}

.feature {
    // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
    // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
    @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
        grid-column: 1;
        grid-row: 1;
    }
    //
    position: relative;
    background: $black;
    //width: 30vw;
    height: 60vh;
    //
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        width: 50vw;
        background: $red;
    }
    //
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        opacity: .1;
        width: 50vw;
        background-image: url(../images/RUN-pattern.svg);
        background-repeat: repeat;
        background-size: 7.5%;
    }
    //
    &__logo {
        //position: absolute;
        //z-index: 1;
        //top: 4rem;
        //left: 4rem;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        display: block;
        margin: 0;
        width: 18vw;
    }
    //
    &__image {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/feature-background.jpg");
        background-size: cover;
        //
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba($black, .2);
        }
        //
        &:after {
            content: "";
            position: absolute;
            top: 4rem;
            right: 4rem;
            bottom: 4rem;
            left: 20rem;
            border-radius: .125rem;
            box-shadow: 0 0 0 .0625rem rgba(white, .1), 0 0 0 50vw rgba($black, .75);
        }
    }
}

.ftr__logo {
    fill: $white;
    //
    &--f {
        fill: $orange;
    }
    &--o,
    &--heart {
        fill: $red;
    }
    &--r {
        fill: $purple;
    }
    &--t,
    &--h,
    &--e,
    &--ribbon {
        fill: $white;
    }
    &--r1 {
        fill: $blue;
    }
    &--u {
        fill: $green;
    }
    &--n {
        fill: $yellow;
    }
}

.navigation {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: -4rem;
    left: 0;
    height: 4rem;
    background: $white;
    //
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        width: 50vw;
        background: $white;
    }
    //
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
    }
    //
    &__list-item {
        display: inline-block;
        font-family: $nav-font;
        font-size: 1.5rem;
        font-weight: 700;
        //
        a {
            display: block;
            padding: 0 1rem;
            line-height: 4rem;
            text-decoration: none;
            color: $black;
        }
        //
        &:last-of-type a {
            padding-right: 2rem;
        }
    }
}

.mission {
    // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
    // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
    @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
        grid-column: 2;
        grid-row: 1;
    }
    //
    position: relative;
    //padding: 8rem 8rem 8rem 20rem;
    //width: 30vw;
    padding: 4rem;
    background: $purple;
    height: 60vh;
    font-size: 1.75rem;
    font-family: Georgia, serif;
    color: $black;
    //
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        width: 50vw;
        background: $blue;
    }
    //
    &__text {
        //font-weight: bold;
        text-align: center;
    }
}

.module {
    position: relative;
    //
    &__image--wrapper {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        overflow: hidden;
        width: 100%;
        height: 100%;
        //
        &:after {
            content: "";
            position: absolute;
            z-index: 2;
            top: 1rem;
            right: 1rem;
            bottom: 1rem;
            left: 1rem;
            box-shadow: 0 0 0 .0625rem $yellow;
        }
        //
        img {
            margin-left: -12.5%;
            width: 125%;
        }
    }
}

.module__1 {
    // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
    // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
    @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
        grid-column: 1;
        grid-row: 2;
    }
    //
    position: relative;
    //padding: 8rem 8rem 8rem 20rem;
    //width: 30vw;
    padding: 4rem;
    background: $green;
    height: 60vh;
    font-size: 1.75rem;
    font-family: Georgia, serif;
    color: $black;
    //
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        width: 50vw;
        background: $blue;
    }
}

.module__2 {
    // CSS GRID: Target browsers that support the `display: grid` and `grid-template-columns` (maybe only using repeat?) properties.
    // These properties are exclusive to browsers that support the `display: grid` and `grid-template-columns` properties.
    @supports (display: grid) and (grid-template-columns: repeat(2, 1fr)) {
        grid-column: 2;
        grid-row: 2;
    }
    //
    position: relative;
    padding: 4rem;
    background: $yellow;
    height: 60vh;
    font-size: 1.75rem;
    font-family: Georgia, serif;
    color: $black;
    //
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        width: 50vw;
        background: $orange;
    }
    //
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        opacity: .1;
        width: 50vw;
        background-image: url(../images/ftr-heart.svg);
        background-repeat: repeat;
        background-size: 4%;
        background-position: -6%;
    }
}